body{
    border:2px solid;
    margin-top: 20px;
    height: 110px;
    width:auto;
  }

.dropdown:hover .sub-menu {
    display: block;

  }

.sub-menu {
    display: none;
    position: absolute;
    min-width: 90px;
    border:1px solid gray;
  }

.sub-menu a{
  text-align: center;
  width:93px;
  }

.sub-menu a:hover{
  background-color: white;
  width:93px;
  }

ul {
    list-style-type: none;
    margin-top:50px;
     
  }

li {
     list-style-type: none;
    margin: 2px;
    overflow: hidden;
    background-color:#f1f1f1;
    float: left;
   }

 a {
   display: block;
    color: black;
    text-align: center;
    padding:10px 10px;
    text-decoration: none;
    background-color:#87CEFA;
    height:30px;
    width:95px;
    font-size: 12px;
    }
    #id2{
      vertical-align: text-top;
      padding-top: 14px;
    }
  #id1{
  padding-top: 15px;
}
.gap{
  margin-left: 2px;
   
   }
#incenter{
  margin-top: 8px;
}
